SERVER_PORT=2048
NITRO_PORT=2000
NITRO_HOST=::

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=asagity
DB_PASSWORD=example_password
DB_NAME=asagity_db

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

POSTGRES_PORT=5432
POSTGRES_USER=asagity
POSTGRES_PASSWORD=example_password
POSTGRES_DB=asagity_db
REDIS_PORT=6379

JWT_SECRET=asagity_secret_miku_39

# Container Configuration
# For Podman: cd container/podman && ./start.sh
# For Docker: docker compose -f container/docker/docker-compose.yaml up -d
