@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-cyan-50: #effcfb;
  --color-cyan-100: #d6f7f5;
  --color-cyan-200: #b0efeb;
  --color-cyan-300: #7be0dc;
  --color-cyan-400: #46c8c5;
  --color-cyan-500: #39c5bb;
  --color-cyan-600: #2b9f98;
  --color-cyan-700: #25807b;
  --color-cyan-800: #226764;
  --color-cyan-900: #205553;
  --color-cyan-950: #0f3635;

  --font-sans: "MiSans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@font-face {
  font-family: 'MiSans';
  src: url('~/assets/fonts/MiSans/MiSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('~/assets/fonts/monospace/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Global Typography */
html, body {
  font-family: var(--font-sans);
}

code, kbd, samp, pre {
  font-family: var(--font-mono);
}

